footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px; /* Adjust this value to match the height of the footer */
    background-color: #4c4f53;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 200px;
    position: relative;
    margin-top: 60px;
  }
  
  #contactUsCSS {
    margin-top: 5px;
}