<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <section class="mb-4">
        <h4 id='contactUsCSS' className='text'><strong>Contact Us</strong></h4>
        <p><strong>Toll Free:  </strong> +1-989-1225-0709</p>
        <strong>Email us at:  </strong> <a href="" target="_blank" rel='noreferrer'>support@careerservices.ca</a>
      </section>

      <section class="mb-4">
        <h4>&copy; Career services app</h4>
        <p>
            The best app for your professional career. Discover new opportunities, connect with industry experts, and take your career to new heights.
        </p>
      </section>

      
    </div>
    <!-- Grid container -->

</footer>
<!-- Footer -->
