<div class="container">
  <ng-container *ngIf="loggedUser.authority === Authority.CANDIDATE || 
                      (loggedUser.authority === Authority.ADMIN && adminUpdateUser.authority === Authority.CANDIDATE)">
    <form [formGroup]="candidateProfileForm">
      <mat-form-field appearance="outline" class="field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name">
        <mat-error
          *ngIf="candidateProfileForm.controls['firstName'].invalid && candidateProfileForm.controls['firstName'].touched">
          First Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name">
        <mat-error
          *ngIf="candidateProfileForm.controls['lastName'].invalid && candidateProfileForm.controls['lastName'].touched">
          Last Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="loggedUser.authority !== Authority.ADMIN" appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput value="{{ loggedUser.emailId }}" placeholder="Enter email" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="loggedUser.authority === Authority.ADMIN" appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput value="{{ adminUpdateUser.emailId }}" placeholder="Enter email" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Experience</mat-label>
        <input type="number" matInput formControlName="experience" placeholder="Enter experience" [min]="0">
        <mat-error
          *ngIf="candidateProfileForm.controls['experience'].invalid && candidateProfileForm.controls['experience'].touched">
          Experience is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Education</mat-label>
        <input matInput formControlName="education" placeholder="Enter education">
        <mat-error
          *ngIf="candidateProfileForm.controls['education'].invalid && candidateProfileForm.controls['education'].touched">
          Education is required
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <div *ngIf="resumeExists" appearance="outline" class="field" style="margin-top: 20px;">
          <h2>Download Resume</h2>
          <a id="downloadButton" mat-raised-button color="primary" (click)="onUpload()">Download</a>
        </div>
        <div appearance="outline" class="field" style="margin-top: 20px;">
          <h2>Upload Resume</h2>
          <input type="file" (change)="onFileSelected($event)">
          <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile"
            style="margin-top: 20px;">Upload</button>
        </div>
        <div appearance="outline" class="field" style="margin-top: 20px;">
          <h2>Generate Resume</h2>
          <a id="generateButton" mat-raised-button color="primary" (click)="onGenerate()">Generate</a>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="updateProfile()" [disabled]="candidateProfileForm.invalid">
        Update Profile
      </button>
    </form>


  </ng-container>
  <ng-container *ngIf="loggedUser.authority === Authority.EMPLOYER || 
                (loggedUser.authority === Authority.ADMIN && adminUpdateUser.authority === Authority.EMPLOYER)">
    <form [formGroup]="employerProfileForm">
      <mat-form-field *ngIf="loggedUser.authority !== Authority.ADMIN" appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput value="{{loggedUser.emailId}}" placeholder="Enter email" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="loggedUser.authority === Authority.ADMIN" appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput value="{{adminUpdateUser.emailId}}" placeholder="Enter email" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Enter company name">
        <mat-error
          *ngIf="employerProfileForm.controls['companyName'].invalid && employerProfileForm.controls['companyName'].touched">
          Company Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Company Website</mat-label>
        <input matInput formControlName="website" placeholder="Enter website">
        <mat-error
          *ngIf="employerProfileForm.controls['website'].invalid && employerProfileForm.controls['website'].touched">
          <span *ngIf="employerProfileForm.get('website')?.errors?.['required']">Website is required</span>
          <span *ngIf="employerProfileForm.get('website')?.errors?.['email']">Invalid website format</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="updateProfile()" [disabled]="employerProfileForm.invalid">
        UpdateProfile
      </button>
    </form>
  </ng-container>

</div>